.header{
    background-color: black;
    height: 100px;
    text-align: center;
    color: whitesmoke;
}

body{
    background-image: url(../Imagenes/fondo404.jpg);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
}

.logo_alianza{
    text-align: left;
}

#alianza{
    position: absolute;
    height: 80px;
    margin-left: 75px;
    margin-top: 5px;
}

#logo{
    height: 100px;
    cursor: pointer;
}
